
.blog-header {
    background-color: #DCEAF5;
}
.blog-container{

    display: flex;
}
.blog-header-content {
    max-width: 55.9rem;
    margin-top: 12.8rem;
}
.header-first-line {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
}
.header-first-line p{
    color: #394149;
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    opacity: 0.8;
}
.header-second-line {

}
.header-second-line h1{
    color: #1D3444;
    font-family: 'Poppins';
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.19rem;
    margin-bottom: 2.4rem ;
    
}

.header-second-line p{
    color: #5B5B5B;
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 2.4rem;
    
}
.header-link a  {
    color: #F58A07;
}
.blog-header-img {
    margin-left: auto;
    margin-top: 12.8rem;
    margin-bottom: 12.8rem;
}
.blog-header-img img{
    border-radius: 2.1rem;

}

.posts {
}
.posts-header {
    color: #0D1317;
    font-family: 'Poppins';
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -1.44px;
    text-transform: capitalize;
    margin: 12.8rem 0 6.4rem 0;
}
.cards-top {
    margin-top: 6.4rem;
    display: flex;
    gap: 4rem;
    margin-bottom: 4rem;
}
.cards-bottom{
    display: flex;
    gap: 4rem;
    margin-bottom: 12.8rem;
}
.card {
    max-width: 40rem;
    background-color: #EDF7FF;
    border-radius: 20px;
    
}
.card h3{
    color: #0D1317;
    font-family: 'Poppins';
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.72px;
    padding: 3.2rem;
    padding-bottom: 1.6rem;
}
.card p{
    color: #5B5B5B;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75;
    padding: 3.2rem;
    padding-top: 0.1rem;
}
.card a{
    color: #F58A07;
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    padding: 3.2rem;
    padding-top: 0.1rem;
}
